<h1 align="center" style="background-color:#306998;color:#FFD43B;font-size:64px;font-family:sans;padding:20px">Python for Everyone<h1>

<h1 align="center"  style = "color:#306998,text-align:center">Introduction</h1>

Python for Everyon is a step by step guide to learn Python and programming in general. ***Python For Everyone*** is a guide for both beginners and advanced Python developers. Welcome to *Python For Everyone*. 

***Congratulations*** for deciding to learn Python. Python is eating the world. It has been the choice for developers to use python for different puprpose specifically to deal with data.

In this step by step guide, you will learn Pyton. Python is one of the most popular programming language. 
You use Python ***to develop web applicaton***, ***to develop mobile apps***, ***desktop applications, games*** and mostly Python is use for ***data Sciecne***, ***machine learning*** and ***AI***.
***Python*** has increased in popularity in recent years and has been the leading
programming language for data science and machine language.

<h1 align="center"  style = "color:#306998">Set up</h1>

First install [Python](https://www.python.org/downloads/).
To write python code, we need to have a code editor. Lets install text or code editor. There are many open source code editors which can help you to write python code. These are the most commonly used ones:
- [Jupter Note book](https://www.anaconda.com/distribution/)
- [vscode](https://code.visualstudio.com/)
- [pycharm](https://www.jetbrains.com/pycharm/)
- [atom](https://atom.io/)
- [notepad++](https://notepad-plus-plus.org/) or others.

Jupter Notebook is highly recommended. You can use jupter note book by installing [anaconda](https://www.anaconda.com/distribution/). Anaconda is the most popular Python/R platform which allow you to use different development tools and making package installing so simple.

<h1 align="center"  style = "color:#306998>Comment in Python</h1>

Comment is essential to make code readable to ourselves or for others. Commented part of our code is not interperated by Python interperator.

In [174]:
# This is a single line comment

#### Exerciese:
- Write your first python comment
- Write an other more python comment
- Write you third pyhon comment
- Write a comment which says I am exited to learn Python Programming.
- Write a comment which says It is recommended to add a comment at the beginning of a code

<h1 align="center"  style = "color:#306998"> Printing in Python</h1>

In [175]:
# Printing in Python
print('Hello, World!')
print('Hello,', "World", "!")
print("Welcome to Python!")
print('Learn python in', 2019)
print('Welcome to Python for Everyone')
print('Welcome','to', 'Python','for','Everyone')

Hello, World!
Hello, World !
Welcome to Python!
Learn python in 2019
Welcome to Python for Everyone
Welcome to Python for Everyone

#### Exerciese:

1. Writ a python comment saying 'How to print using print () at beginning of your code'
2. Print your first name using ***print()***
3. Print your last name using ***print ()***
4. Print your full name using ***print ()***
5. Print your country using ***print()***
6. Print your city using ***print()***
7. Print your age using ***print ()***
8. Print the year using ***print()***
9. Print your qualification or your job using I***print()***
10. Are you single or married ? Answer should be True or False. Print the answer using ***print()***

<h1 align="center"  style = "color:#306998"> Variables</h1>

Variables are containers or a means to store data in computer memory. pneumonic varialbes recommend to use in many programming langauges. 

Valid variable names
```shell
    firstname
    lastname
    age
    country
    city
    first_name
    last_name
    capital_city
    _firstname
    first_name
    num1
    num2
```

Invalid varaible names
- first-name
- num-1
- 1num

In [176]:
# Variables in Python

first_name = "Asabeneh"
last_name = "Yetayeh"
country = "Helsinki"
age = 250
is_married = True
# Printing the values stored in the variables
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

First name: Asabeneh
Last name:  Yetayeh
Country:  Helsinki
Age:  250
Married:  True

Variable can also be declared in one line:

In [177]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True

#### Exerciese: Variables
1. Writ a python comment saying 'Variables in python'
2. Declare a first name variable and assign a value to it
3. Declare a last name variable and assign a value to it
4. Declare a full name variable and assign a value to it
5. Declare a country variable and assign a value to it
6. Declare a city variable and assign a value to it
7. Declare an age varialbel and assign a value to it
8. Declare a year varaible and assign  a value to it
9. Declare a variable is_married and assign a value to it
10. Declare a variable is_true and assign a value to it
11. Declare a variable is_light_on and assign a value to it
12. Declare multiple variable on one line

<h1 align="center"  style = "color:#306998,text-align:center">Python Data types</h1>

Different data types in python. There are different data type in python programming. To identify the data tpe we use the type method.

In [178]:
# Different python data types
# Let's declare different data tyeps

first_name = 'Asabeneh' # String
last_name = 'Yetayeh' # String
country = 'Finland' # String
city= 'Helsinki'
age = 250 # Number, it is not my real age, don't worry about it

print(type('Asabeneh'))
print(type(first_name))
print(type(10))
print(type(3.14))
print(type(1 + 1j))
print(type(True))
print(type([1, 2,3,4]))
print(type({"name":"Asabeneh","age":250, "is_married":250}))
print(type((1,2)))
print(type(zip([1,2],[3,4])))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

#### Exerciese: Data Types

1. Writ a python comment saying 'Python Data types'
2. Declare a first name variable and assign a value to it
3. Declare a last name variable and assign a value to it
4. Declare an age varialbel and assign a value to it
5. Declare a full name variable and assign a value to it
6. Declare a country variable and assign a value to it
7. Declare a city variable and assign a value to it
8. Declare a variable is_married and assign a value to it
9. Declare a variable is_true and assign a value to it
10. Declare a variable is_light_on and assign a value to it
11. Check the data types of each variable using type()

##  Numbers
1. Integers
2. Floating Numbers
3. Complex Numbers

Numbers are python data types. 
Arthimetic Operators: +, -, *, /

In [179]:
# Arthimetic Operations in Python
# Integers

print('Additon: ', 1 + 2)
print('Substraction: ', 2 - 1)
print('Multiplication: ', 2 * 3)
print ('Division: ', 4 / 2) # Division in python gives floating number
print('Division: ', 6 / 2)
print('Division: ', 7 / 2)
print('Division without the remainder: ', 7 // 2) # gives without the floating number or without the remaining
print('Modulous: ', 3 % 2)
print ('Division without the remainder: ',7 // 3)
print('Exponentation: ', 3 ** 2)
# Floating numbers
print('Floating Number', 3.14)
# Complex numbers
print('Complex number: ', 1+1j)
print('Multiplying complext number: ',(1+1j) * (1-1j))


print('== Additon, Subtraction, Multipliation, Division, Modules ==')

num_one = 3
num_two = 4

total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one


print('sum: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

mass = 75
gravity = 9.81
# Calcualte the wieght of the object on planet earth
weight = mass * gravity

print(weight, 'N')

Additon:  3
Substraction:  1
Multiplication:  6
Division:  2.0
Division:  3.0
Division:  3.5
Division without the remainder:  3
Modulous:  1
Division without the remainder:  2
Exponentation:  9
Floating Number 3.14
Complex number:  (1+1j)
Multiplying complext number:  (2+0j)
== Additon, Subtraction, Multipliation, Division, Modules ==
sum:  7
difference:  1
product:  12
division:  1.0
remainder:  1
735.75 N

#### Exerciese: Numbers

1. Declare your age as integer variable
2. Declare your height as a float variable
3. Declare a complex number variable
4. Calcaulate an area of a triangle (area = 0.5 x  b x h)
5. Calaculate the primeter of triangle (p = a + b + c)
6. Calaculate the of area rectangle (area = lenght x width)
7. Calaculate the primeter of rectangle (p = 2 x (length + width))
8. Calculate the area of a circle (area = 3.14 x r x r)
9. Calculate the circumference of a circle(c = 2 x pi x r)
10. Calculate the value of y (y = x2 + 6x + 9). Try to use different x value and figure out at what x value y is 0.

## Strings
String is data type. Any data under single or double quot are a string. There are diferent string methods to deal with string data types. To check the length of a string use the ***len()*** method.

In [180]:
# Assigning variables to string value

first_name = "Asabeneh"
space = ' ' # an empty space string
last_name = "Yetayeh"
country = "Helsinki"
full_name = ' Asabeneh Yetayeh'

print(first_name)
print(len(first_name))
print(last_name)
print(len(last_name))
print(country)
print(space)  # You don't see the printed empty space
print(full_name) # there is indent because of the trailing space in the full name is string

Asabeneh
8
Yetayeh
7
Helsinki

 Asabeneh Yetayeh

### String Concatination
Merging two or more strings together is called ***concatination***

In [181]:

# String concatination
first_name = "Asabeneh"
space = ' ' # an empty space string
last_name = "Yetayeh"
country = "Finland"
city = 'Helsinki'
full_name = first_name  + space + last_name
git_repo= 'Python ' + ' for ' + ' Everyone'
person_info = 'I am ' + full_name + '. I live in ' + country + ', '+ city + '.'
print('Full name: ', full_name)
print('Person Information:', person_info)
print('Git repository: ', git_repo)

Full name:  Asabeneh Yetayeh
Person Information: I am Asabeneh Yetayeh. I live in Finland, Helsinki.
Git repository:  Python  for  Everyone

###  String transformations

- ***s.lower()***:  Change all letters to lowercase
- ***s.upper()***:  Change all letters to uppercase
- ***s.capitalize()***: Change all letters to capitalcase
- ***s.title()***: Change to titlecase
- ***s.swapcase()***: Change all uppercase letters to lowercase, and vice versa

In [182]:
firstName = 'Asabeneh'
lastName = 'Yetayeh'
space = ' '
full_Name = first_name + space + last_name;

# Changing string to lower case
print('=== change to lower case ===')
print(first_name.lower())
print(last_name.lower())
print(full_Name.lower())

# Changing string to upper case
print('=== change to upper case ===')
print(first_name.upper())
print(lastName.upper())
print(full_Name.upper())


# Changing string to capitalize
print('=== change to capitalize ===')
print(first_name.capitalize())
print(lastName.capitalize())
print(full_Name.capitalize())

# Changing string to capitalize

print('=== change to title ===')
title = 'python for everyone'
sub_title = 'learning programming using python'
lang = 'python'
level = 'both begineer and advanced learners'
print(title.title())
print(sub_title.title())
print(lang.title())
print(level.title())

# Changing string to swapcase()
print('=== swapping cases ===')

first_name = 'ASABEEH'
last_name = 'yetayeh'
space = ' '
full_name = first_name + space + last_name;

print(first_name.swapcase())
print(last_name.swapcase())
print(full_name.swapcase())

=== change to lower case ===
asabeneh
yetayeh
asabeneh yetayeh
=== change to upper case ===
ASABENEH
YETAYEH
ASABENEH YETAYEH
=== change to capitalize ===
Asabeneh
Yetayeh
Asabeneh yetayeh
=== change to title ===
Python For Everyone
Learning Programming Using Python
Python
Both Begineer And Advanced Learners
=== swapping cases ===
asabeeh
YETAYEH
asabeeh YETAYEH

### Spliting string

Empty space is the default paramter. 

- ***s.split()***:  Change the string to a list containing the string
- ***s.split(' ')***:Change the string to a list containing the words of in the string
- ***s.split(',')***: split the words at the comma

In [183]:
# Spliting a stirng to list
first_name = 'Asabeneh'
last_name = 'Yetayeh'
full_name = 'Asabeneh Yetayeh'

programming_lang = 'python, R, matlab, and Java'


# Changing a string to list
print(first_name.split())
print(list(first_name))
print(full_name.split(' '))
print(programming_lang.split(','))


# To check the length of string
print(len(first_name))

# To check the data type of the string
print(type(first_name))

['Asabeneh']
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']
['Asabeneh', 'Yetayeh']
['python', ' R', ' matlab', ' and Java']
8
<class 'str'>

#### String Formatting

##  Booleans
A boolean value is either True or False.

- Comparison operatiors: >, >=, <, <=, ==, !=
- Logical Operators ***or***, ***and***, !

<h1 align="center"  style = "color:#306998,text-align:center">Conditionals </h1>

In [184]:
# Comparing something give either a True or False
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)
print('a in an:', 'a' in 'an')
print('4 is 2 ** 2:', 4 is 2 **2)

print(3 > 2)
print(3 >= 2)
print(3 != 2)
print(3 < 2)
print(3 <= 2)
print(3==2)
print(3!='3')
print(3==3)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True
a in an: True
4 is 2 ** 2: True
True
True
True
False
False
False
True
True

In [185]:
num = 10
if num > 5:
    print('Number is greater than 5')
# The is conditon does't get exected so we need else
if num < 5:
    print('Number is less than 5')

if num < 5:
    print('Number is less than 5')
else:
    print('Number is greater than 5')
    
num = 5
if num < 5:
    print('Number is less than 5')
elif num == 5:
    print('Number is 5')
else:
    print('Number is greater than 5')

Number is greater than 5
Number is greater than 5
Number is 5

<h1 align="center"  style = "color:#306998,text-align:center">Loops</h1>

### For loops:

In [186]:
print('=== Whole Numbers===')
for x in range(11):
    print(x)

print('=== Even Numbers===')
# the range(initial, stop, step)
for n in range(0, 11, 2):
    print(n)
    
print('=== Odd Numbers===')
# the range(initial, stop, step)
for n in range(1, 11, 2):
    print(n)

=== Whole Numbers===
0
1
2
3
4
5
6
7
8
9
10
=== Even Numbers===
0
2
4
6
8
10
=== Odd Numbers===
1
3
5
7
9

### Continue and break in for loop

In [187]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

### While Loop

In [188]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Getting user input using ***input***

In [242]:
name = input('What is your name ?')
age = int(input('How old are you ?'))

if age < 18:
    print(name,' you are under age')
else:
    print(name, ', you are old enough')

What is your name ?Asabeneh
How old are you ?250
Asabeneh , you are old enough


# Lists
Lists are like arrays in JavaScript. They store different elements unlike other varialbles. List has different methods to modify and manipulate the list. Some of the methods which are used to modiyf lists **append**, **insert**, **extend**.

## Creating an empty list or list containing values

In [243]:
# Creating lists
lst = [] # empty list
print(list)
lst = list() # empty list
print(lst)
numbers = [1, 2, 3, 4, 5, 6] # creating list 1 to 6
print(numbers)
one_to_hunderd = list(range(11)) # creating list 1 to 10
even_numbers = list(range(0,51, 2)) # Create even number lists 0 to 50
print(one_to_hunderd)
print(even_numbers)

names = ['Asabeneh','Brook','Sami','David']
print(names)
it_companies = ['Google','Facebook','Nokia','Apple','Oracle','Amazon','IBM']
print(it_companies)
constants = [3.14, 9.81, 98.6, 100]
print(constants)

<class 'list'>
[]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
['Asabeneh', 'Brook', 'Sami', 'David']
['Google', 'Facebook', 'Nokia', 'Apple', 'Oracle', 'Amazon', 'IBM']
[3.14, 9.81, 98.6, 100]

In [244]:
for number in numbers:
    print(number)
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")
        
print ("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done.

## Appending value  to lists

Using different methods to manipulate lists. Slicing using :, appending, extending and inserting:

In [245]:
# First lets create a list
x = [1, 2, 3, 4, 5, 6]
print(len(x)) # to check the length of the list

6

In [246]:
x.append(8)
x.append(9)
x

[1, 2, 3, 4, 5, 6, 8, 9]

##  Inserting value among values in a list
Inserting a value at a certain index

In [247]:
x.insert(6,7) # the missing value in the list which is 7 is inserted
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##  Use extend to two or more arrays together

In [248]:
x.extend([9,10])
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10]

## Slicing

In [249]:
x[:3]

[1, 2, 3]

In [250]:
x[3:]

[4, 5, 6, 7, 8, 9, 9, 10]

In [251]:
x[-2:]

[9, 10]

##  Concating lists (Merging)

In [252]:
a = [1, 2,3]
b = [4, 5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

List of lists

In [253]:
x = [1, 2,3]
y = [4, 5,6];
z = [x, y]
print(z)

[[1, 2, 3], [4, 5, 6]]

In [254]:
print(x[0])
print(z[0])
print(z[0][0])
print(z[1])
print(z[1][0])

1
[1, 2, 3]
1
[4, 5, 6]
4

In [255]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [256]:
z.sort(reverse=True)
z

[3, 2, 1]

## Sort vs Sorted in list

In [257]:
nums_one = [3,1,4,2,5]
nums_sort =nums_one.sort() # mutate the original list and return None
print(nums_one)
print(nums_sort) # return None
nums_two = [3,1,4,2,5]
nums_sorted = sorted(nums_two) # mutate the original list
print(nums_two)
print(nums_sorted)

[1, 2, 3, 4, 5]
None
[3, 1, 4, 2, 5]
[1, 2, 3, 4, 5]

## Getting index of a list using enumerate

In [258]:
even_nums = [2,4,6,8,10]
for i, n in enumerate(evens):
    print('index:',i, n)

index: 0 2
index: 1 4
index: 2 6
index: 3 8
index: 4 10

In [259]:
for i, n in enumerate(range (10)):
    print('index:',i, n)

index: 0 0
index: 1 1
index: 2 2
index: 3 3
index: 4 4
index: 5 5
index: 6 6
index: 7 7
index: 8 8
index: 9 9

In [260]:
(name, age) = ['Asabeneh', 250]

In [261]:
print(name, age)

Asabeneh 250

## List Comprehension

In [262]:
[i  for i in range (11)] # list of whole numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [263]:
[i * i for i in range (11)] # List of squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [264]:
even_nums = [i for i in range(51) if i % 2 == 0] # List of even numbers
print(even_nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [265]:
odds = [i for i in range(51) if i % 2 != 0] # List of odd numbers
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [266]:
numbers = [1, 2, 3,4,5]
[n * n for n in numbers]  # maping using list comprehension

[1, 4, 9, 16, 25]

In [267]:

names = ['Asabeneh','Brook','David','Martha']
[name.upper () for name in names] # Mapping using list comprehension

['ASABENEH', 'BROOK', 'DAVID', 'MARTHA']

In [268]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
[n for n in numbers if n > 0] # Filtering using list comprehension

[2, 4, 6]

##  Tuples
###  Creating Tuples

In [269]:
#Tuples are just immutable lists. Use () instead of []
tp = tuple()
print(type (tp))
tp = ()
print(type(tp))
nums = (1, 2, 3)
print(nums)
len(nums)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3)

3

In [270]:
for n in nums:
    print(n)

1
2
3

In [271]:
x = (1, 2, 3)
y = (4, 5, 6)
print(x[0])
y[0]

1

4

In [272]:
list_of_tuples = [x, y]
list_of_tuples

[(1, 2, 3), (4, 5, 6)]

In [273]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

In [274]:
numbers = [1, 2, 3,4,5]
[(n,n * n) for n in numbers]  # maping using list comprehension

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [275]:
names = ['Asabeneh','Brook','David','Martha']
[(name.upper (), len(name)) for name in names] # Mapping using list comprehension

[('ASABENEH', 8), ('BROOK', 5), ('DAVID', 5), ('MARTHA', 6)]

## Dictionaries

In [276]:
# Creating empty dictionary

dic = dict()
dic = {}

# Another more dictionary
person = {
    'name':'Asabenh',
    'age':250, 
    'country':'Finland',
    'city':'Helsinki', 
    'job':'instructor and developer',
    'skills':['HTML','CSS','JavaScript','Python','Node'],
    'is_married':True
}
print(person)
print(len(person))

{'name': 'Asabenh', 'age': 250, 'country': 'Finland', 'city': 'Helsinki', 'job': 'instructor and developer', 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Node'], 'is_married': True}
7

In [277]:
print(person)

{'name': 'Asabenh', 'age': 250, 'country': 'Finland', 'city': 'Helsinki', 'job': 'instructor and developer', 'skills': ['HTML', 'CSS', 'JavaScript', 'Python', 'Node'], 'is_married': True}

In [278]:
print(person["name"])

Asabenh

In [279]:
print(person["age"])

250

In [280]:
print(person.get("is_married"))

True

In [281]:
for key in person:
        print(key + ": " + str(person[key]))

name: Asabenh
age: 250
country: Finland
city: Helsinki
job: instructor and developer
skills: ['HTML', 'CSS', 'JavaScript', 'Python', 'Node']
is_married: True

### Dictionary Methods
**keys**, **values**, **items**

In [282]:
keys = person.keys()
values = person.values()
items = person.items()

print(keys)
print(values)
print(items)

dict_keys(['name', 'age', 'country', 'city', 'job', 'skills', 'is_married'])
dict_values(['Asabenh', 250, 'Finland', 'Helsinki', 'instructor and developer', ['HTML', 'CSS', 'JavaScript', 'Python', 'Node'], True])
dict_items([('name', 'Asabenh'), ('age', 250), ('country', 'Finland'), ('city', 'Helsinki'), ('job', 'instructor and developer'), ('skills', ['HTML', 'CSS', 'JavaScript', 'Python', 'Node']), ('is_married', True)])

In [283]:
for k, v in items:
    print(k,':', v)

name : Asabenh
age : 250
country : Finland
city : Helsinki
job : instructor and developer
skills : ['HTML', 'CSS', 'JavaScript', 'Python', 'Node']
is_married : True

In [284]:
numbers = [1, 2, 3,4,5]
[{n:n * n} for n in numbers]  # maping using list comprehension

[{1: 1}, {2: 4}, {3: 9}, {4: 16}, {5: 25}]

In [285]:
names = ['Asabeneh','Brook','David','Martha']
[{name:len(name)} for name in names] # Mapping using list comprehension

[{'Asabeneh': 8}, {'Brook': 5}, {'David': 5}, {'Martha': 6}]

<h1 align="center"  style = "color:#306998,text-align:center"> Set </h1>

Creating a set

In [286]:
s = set()
s.add(1) # adding value to a set
s.add(2)
s.add(3)
s.add(4)
s.add(5)
print(s)
print(len(s))

nums = [1, 2,2,3,4,5,4,6,7,6]
numbers = set(nums)
print(numbers)
print(len(numbers))
for n in numbers:
    print(n)

{1, 2, 3, 4, 5}
5
{1, 2, 3, 4, 5, 6, 7}
7
1
2
3
4
5
6
7

<h1 align="center"  style = "color:#306998,text-align:center"> Functions</h1>

In [287]:
def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print(sum_two_numbers(1, 9))

10

In [288]:
def square_number(x):
    return x * x

print(square_number(2))

4

In [289]:
#You can pass functions around as parameters
def do_something(f, x):
    return f(x)

print(do_something(square_number, 3))

9

In [290]:
#Lambda functions let you inline simple functions
print(do_something(lambda x: x * x * x, 3))

27

## Importing Modules

In [291]:
import numpy as np

A = np.random.normal(25, 5.0, 10)
print (A)

[27.88608357 23.11774755 31.04189588 20.48481983 30.50618958 29.71853994
 24.70956114 26.54680012 20.88724631 24.50554159]

## Challenges

Write python comment
Declare different varaibles
Check different data tyypes
Concatinate strings
Write some code that creates a list of integers, 
loops through each element of the list, 
and only prints out even numbers!

In [292]:
list_nums = range(100);
print(list(list_nums))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [293]:
def sum_of_evens_and_sum_of_odds (n):
    numbers = range(n)
    evens_sum = 0;
    odds_sum = 0;
    for n in numbers:
        if n % 2 == 0 :
            evens_sum = evens_sum + n
        else:
            odds_sum = odds_sum + n;
    return [evens_sum, odds_sum]

In [294]:
sum_of_evens_and_sum_of_odds(101)

[2550, 2500]