# Python for Everyone

## 1. Comment in Python

In [409]:
# This is a single line comment

## 2. Printing in Python

In [410]:
# Printing in Python

print("Welcome to Python!")
print('Hello, World!')
print('Hello,', "World", "!")
print('Learn python in ', 2019)
print('Welcome to Python for Everyone')
print('Welcome','to', 'Python','for','Everyone')

Welcome to Python!
Hello, World!
Hello, World !
Learn python in  2019
Welcome to Python for Everyone
Welcome to Python for Everyone

## 3. Variables
Variables are containers or a means to store data in computer memory. pneumonic varialbes recommend to use in many programming langauges.

In [411]:
# Variables in Python

first_name = "Asabeneh"
last_name = "Yetayeh"
country = "Helsinki"
age = 250
is_married = True
print(first_name)
print(last_name)
print(country)
print(age)
print(is_married)

Asabeneh
Yetayeh
Helsinki
250
True

## 4. Python Data types
Different data types in python. There are different data type in python programming. To identify the data tpe we use the type method.

In [412]:
# Different python data types
# Let's declare different data tyeps

first_name = 'Asabeneh' # String
last_name = 'Yetayeh' # String
country = 'Finland' # String

age = 250 # Number, it is not my real age, don't worry about it


print(type('Asabeneh'))
print(type(10))
print(type(3.14))
print(type(True))
print(type([1, 2,3,4]))
print(type({"name":"Asabeneh","age":250, "is_married":250}))
print(type((1,2)))
print(type(zip([1,2],[3,4])))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

## 4.1 Strings
String is data type. Any data under single or double quot are a string. There diferent string methods to deal with string data types

In [413]:
# Assigning variables to string value

first_name = "Asabeneh"
last_name = "Yetayeh"
country = "Helsinki"

# String concatination
full_name = first_name  + ' ' + last_name
print(full_name)

# Spliting a stirng to list
splet_first_name = first_name.split(' ')
print(splet_first_name)

# Changing a string to list
print(list(first_name))
print(first_name.split(","))

# Changing string to upper case
print(first_name.upper())

# Changing name to lower case
print(last_name.lower())
print(full_name.upper())

# To check the length of string
print(len(first_name))

# To check the data type of the string
print(type(first_name))

Asabeneh Yetayeh
['Asabeneh']
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']
['Asabeneh']
ASABENEH
yetayeh
ASABENEH YETAYEH
8
<class 'str'>

## 4.2 Numbers
Numbers are python data types. 
Arthimetic Operators: +, -, *, /

In [414]:
# Arthimetic Operations in Python

print(1 + 2)
print(2 - 1)
print(2 * 3)
print ( 2 / 3)
print(3 % 2)
print (7 // 3)
print(3 ** 2)

3
1
6
0.6666666666666666
1
2
9

# 4.3 Booleans
A boolean value is either True or False.

In [436]:
# Comparing something give either a True or False
print(True == True)
print(True == False)
print(False == False)
print(True or False)
print('a' in 'an')
print('4 is 2 ** 2:', 4 is 2 **2)

print(3 > 2)
print(3 >= 2)
print(3 != 2)
print(3 < 2)
print(3 <= 2)
print(3==2)
print(3!='3')
print(3==3)

True
False
True
True
True
4 is 2 **2: True
True
True
True
False
False
False
True
True

In [429]:
True == False

False

In [430]:
2 > 3

False


## 4.3 Lists
Lists are like arrays in JavaScript. They store different elements unlike other varialbles. List has different methods to modify and manipulate the list. Some of the methods which are used to modiyf lists **append**, **insert**, **extend**.

### 4.3.1 Creating an empty list or list containing values

In [418]:
# Creating lists
lst = [] # empty list
print(list)
lst = list() # empty list
print(lst)
numbers = [1, 2, 3, 4, 5, 6]
print(numbers)
names = ['Asabeneh','Brook','Sami','David']
print(names)
it_companies = ['Google','Facebook','Nokia','Apple','Oracle','Amazon','IBM']
print(it_companies)
constants = [3.14, 9.81, 98.6, 100]
print(constants)

<class 'list'>
[]
[1, 2, 3, 4, 5, 6]
['Asabeneh', 'Brook', 'Sami', 'David']
['Google', 'Facebook', 'Nokia', 'Apple', 'Oracle', 'Amazon', 'IBM']
[3.14, 9.81, 98.6, 100]

### 4.3.2 Appending value  to lists

Using different methods to manipulate lists. Slicing using :, appending, extending and inserting:

In [419]:
# First lets create a list
x = [1, 2, 3, 4, 5, 6]
print(len(x)) # to check the length of the list

6

In [420]:
x.append(8)
x.append(9)
x

[1, 2, 3, 4, 5, 6, 8, 9]

### 4.3.3 Inserting value among values in a list
Inserting a value at a certain index

In [421]:
x.insert(6,7) # the missing value in the list which is 7 is inserted
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 4.3.4 Use extend to two or more arrays together

In [422]:
x.extend([9,10])
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10]

### 4.3.5 Slicing

In [423]:
x[:3]

[1, 2, 3]

In [424]:
x[3:]

[4, 5, 6, 7, 8, 9, 9, 10]

In [425]:
x[-2:]

[9, 10]

### 4.3.6 Concating lists

In [426]:
a = [1, 2,3]
b = [4, 5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

List of lists

In [427]:
x = [1, 2,3]
y = [4, 5,6];
z = [x, y]
print(z)

[[1, 2, 3], [4, 5, 6]]

In [255]:
print(x[0])
print(z[0])
print(z[0][0])
print(z[1])
print(z[1][0])

1
[1, 2, 3]
1
[4, 5, 6]
4

In [256]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [257]:
z.sort(reverse=True)
z

[3, 2, 1]

In [258]:
(name, age) = ['Asabeneh', 250]

In [259]:
print(name, age)

Asabeneh 250

## 5.0 Tuples
### 5.1.1 Creating Tuples

In [326]:
#Tuples are just immutable lists. Use () instead of []
tp = tuple()
print(type (tp))
tp = ()
print(type(tp))
nums = (1, 2, 3)
print(nums)
len(nums)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3)

3

In [327]:
for n in nums:
    print(n)

1
2
3

In [337]:
x = (1, 2, 3)
y = (4, 5, 6)
print(x[0])
y[0]

1

4

In [338]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [339]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [374]:
# Creating empty dictionary

dic = dict()
dic = {}

# Another more dictionary
person = {
    'name':'Asabenh',
    'age':250, 
    'country':'Finland',
    'city':'Helsinki', 
    'job':'teacher and developer',
    'is_married':True}

In [375]:
print(person)

{'name': 'Asabenh', 'age': 250, 'country': 'Finland', 'city': 'Helsinki', 'job': 'teacher and developer', 'is_married': True}

In [376]:
print(person.get("is_married"))

True

In [377]:
for key in person:
        print(key + ": " + str(person[key]))

name: Asabenh
age: 250
country: Finland
city: Helsinki
job: teacher and developer
is_married: True

# Conditionals

In [369]:
num = 10
if num > 5:
    print('Number is greater than 5')

Number is greater than 5

In [270]:
# The is conditon does't get exected so we need else
if num < 5:
    print('Number is less than 5')

In [271]:
if num < 5:
    print('Number is less than 5')
else:
    print('Number is greater than 5')

Number is greater than 5

In [272]:
num = 5
if num < 5:
    print('Number is less than 5')
elif num == 5:
    print('Number is 5')
else:
    print('Number is greater than 5')

Number is 5

In [273]:
for number in numbers:
    print(number)
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")
        
print ("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
All done.

## Functions

In [274]:
def square_number(x):
    return x * x

print(square_number(2))

4

In [275]:
#You can pass functions around as parameters
def do_something(f, x):
    return f(x)

print(do_something(square_number, 3))

9

In [431]:
#Lambda functions let you inline simple functions
print(do_something(lambda x: x * x * x, 3))

27

## Boolean Expressions

In [277]:
print(1 == 3)

False

In [278]:
print(True or False)

True

In [279]:
print(1 is 3)

False

In [280]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

## Looping

### For loop

In [281]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [282]:
# the range(initial, stop, step)
for n in range(10, 120, 10):
    print(n)

10
20
30
40
50
60
70
80
90
100
110

In [125]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

### While Loop

In [126]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Importing Modules

In [137]:
import numpy as np

A = np.random.normal(25, 5.0, 10)
print (A)

[20.49451925 20.07286216 18.25175467 24.55795631 27.27638691 21.94066603
 23.69410674 18.98896018 23.59117906 25.63736196]

## Challenges

Write python comment
Declare different varaibles
Check different data tyypes
Concatinate strings
Write some code that creates a list of integers, 
loops through each element of the list, 
and only prints out even numbers!

In [127]:
list_nums = range(100);
print(list(list_nums))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [128]:
def sum_of_evens_and_sum_of_odds (n):
    numbers = range(n)
    evens_sum = 0;
    odds_sum = 0;
    for n in numbers:
        if n % 2 == 0 :
            evens_sum = evens_sum + n
        else:
            odds_sum = odds_sum + n;
    return [evens_sum, odds_sum]

In [129]:
sum_of_evens_and_sum_of_odds(101)

[2550, 2500]

## Function

In [62]:
def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print(sum_two_numbers(1, 9))

10